<!-- Nav Header -->
<div class="container">         
  <div class="row ">  
      <!-- Logo -->
      <div class="col-md align-self-center">
          <a href="#"><img src="logo.png" alt="" width="auto" height="fit-content"></a>
      </div>
      <!-- OPTIONAL - Header Bar -->
      <div class="col-md-auto align-self-end">                       
          <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link"  href="#">Link</a>
              </li>                                                       
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>                                                          
          </ul>                        
      </div>                    
      <!-- Header -->                
  </div>
</div>