<!-- Header Bar -->
<div class="container pt-4 pb-4 header-custom">                
    <div class="row align-items-end">                   
        <div class="col-md">
            <div class="flex-shrink-0 p-3">
              <a href="#"><img src="/assets/images/logo-normal.svg" alt="" width="auto" height="84px"></a> 
            </div>
        </div>  
        <div class="flex-shrink-0 p-3 pb-4" style="width: auto;">
            <ul class="nav justify-content-end">                                
                <li class="nav-item"><a class="nav-link" href="#">Link #1</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link #2</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link #3</a> </li>
                <li class="nav-item"><a class="nav-link" href="#">Link #4</a> </li>                                                         
            </ul>
        </div>       
    </div>                     
</div>  