<!-- News -->
<div class="flex-shrink-0 p-3" style="width: auto;">      
    <img src="mf1.jpg" class="img-fluid rounded-circle col-md-3 float-md-start me-md-3" alt="..."  style="width:128px; height:128px; border: 1px solid white;">    
    <p class="lead" style="text-align-last: auto; hyphens: auto; font-weight: 600;">Michael Felderer unter Top-20 der aktivsten Software Engineering Forscher</p>
    <p style="text-align-last: auto; hyphens: auto;">As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.</p>
      <figure class="text-end">                        
        <figcaption class="blockquote-footer">Published 16.04.2022</figcaption>
      </figure>
    <div class="d-grid gap-2 pt-4 d-md-flex justify-content-md-end">                                              
      <a href="#" class="btn btn-secondary">Read Article</a>
      <a href="#" class="btn btn-secondary">News Archive</a>                      
    </div>                                      
</div>