.current {
  color: green;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  background-image: url("");
  
  text-align: left;
}

.row {
  padding-bottom: 15px;
}

.wrapper {
  max-width: 1320px;
  border: 1px solid gray;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  height: 96px;
  margin-bottom: 25px;
  border-bottom: 3px solid #ffffff;
  background-image: linear-gradient(to right, rgb(17, 26, 37) , rgb(63, 84, 110));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bg-dark {
 background-color: #003361 !important;
}

.dropdown-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  padding-bottom: 15px;
}

.content-padding {
  padding-top: 15px;
  text-align: justify;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#images {
max-width: 50%;
float: left;
padding-right: 15px;
padding-bottom: 5px;
}

.card {
  width: 100%;
  padding-bottom: 15px;
}


#logo {
  max-width: 64px;
  height: auto;
  margin-top: 1px;
  margin-right: 10px;
}

#vertical-ruler{
border-left: 2px solid #b8b8b8;
}

.h1, h1 {
  font-size: 2.5rem;
  color: #6f9e00;
}

.h3, h3 {
  color: #4e4e4e;
  padding-top: 8px;
}

.h4, h4, .h5, h5 {
  line-height: 1.4;
  color: #2c2c2c;  
}

#font-light {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  color: #383838;
  hyphens: auto;
}

#sub-headline {
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #2c2c2c;    
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  width: 300px;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
